<div class="row p-5"  style="background: lightblue;">

			<div id="prices" class="col-12 text-center">

				<h2>Our Prices</h2>

				<p>Are you a student? No problem - we have 3, 4, 8 and 12 month options to get you through the school year</p>

				<br>

				<p>Hurry up we are filling out.</p>

			</div>

			<div class="col-12 my-5 text-center">

				<div class="card-deck px-5">

					<div class="card">

						<div class="card-body">

							<h4>Basic Plan</h4>

							<br>

							<p>$5</p>

							<br>

							<ul class="list-unstyled">

								<li>Free WiFi*</li>

								<li>Use of Any Planet Fitness Worldwide</li>

								<li>Free Fitness Training</li>

								<li>Dance Clases</li>

							</ul>

						</div>

					</div>

					<div class="card">

						<div class="card-body">

							<h4>Gold</h4>

							<br>

							<p>$10</p>

							<br>

							<ul class="list-unstyled">

								<li>All basic features</li>

								<li>Use of Tanning</li>

								<li>Use of HydroMassage</li>

								<li>50% Off Drinks</li>

							</ul>

						</div>

					</div>

					<div class="card">

						<div class="card-body">

							<h4>Daimond</h4>

							<br>

							<p>$20</p>

							<br>

							<ul class="list-unstyled">

								<li>All basic and gold features </li>

								<li>Use of Total Body Enhancement</li>

								<li>20% off Reebok products</li>

								<li>Use of Massage Chairs</li>

							</ul>

						</div>

					</div>

				</div>

			</div>

		</div>