
<div class="row p-5 bg-light">

	<div class="col-xs-12 col-sm-12 col-md-6 justify-cls">

		<img src="assets/images/download.jpg" class="img1" alt="Image">

		<img src="assets/images/burst-gym-weights-videoSixteenByNineJumbo1600-v2.jpg" class="img2" alt="Image">

		<hr class="d-sm-none">

	</div>

	<div id="aboutus" class="col-xs-12 col-sm-12 col-md-6">

		<h2>ABOUT US</h2>

		<br>

		<p>Push your fitness further with our mix of facilities and we'll support you with advice on new and better ways to train. Involve your whole body by challenging your cardiovascular, muscular and neural systems at the same time

		</p>

		<p>Fitness First feature progressive programs with world class fitness equipment, trainers and nutrition counselors to help you your fitness further. We have the widest range of group fitness classes such Yoga, Aerobics, Zumba, Les Mills favorites & much more. Come into any of your club and see how our range of group exercise classes can take your fitness further. Why not sample yoga, spinning or circuit training.

		</p>

		<button type="button" class="btn btn-outline-primary" routerLink="/trainer">Let us Begin</button>

		<br>

	</div>

</div>
