<div id="trainers" class="row p-5"  style="background: lightblue;">

	<div class="col-12 text-center">

		<h2>OUR TRAINERS</h2>

		<p>The only place where success comes before work is in the dictionary.</p>

		<br>



	</div>

	<div class="col-12 my-5" >

		<div class="card-deck px-5">

			<div class="card">

				<img src="assets/images/bodybuilder-646482_1280.jpg" class="card-img-top" alt="Image">

				<div class="card-body">

					<p class="card-text text-center">Are you looking for a weekly workout that will leave you feeling satisfied in 30 minutes or less?! Do you want to feel stronger and loose inches off your waist?
						If so, here is a great body weight workout to perform in the comfort of your own yard!
					Tag me Harris in your next backyard workout.</p>

					<p class="card-text text-center"></p>

				</div>

			</div>

			<div class="card">

				<img src="assets/images/DSC9653Harder.jpg" class="card-img-top" alt="Image">

				<div class="card-body">

					<p class="card-text text-center">Are you looking for a weekly workout that will leave you feeling satisfied in 30 minutes or less?! Do you want to feel stronger and loose inches off your waist?
						If so, here is a great body weight workout to perform in the comfort of your own yard!
					Tag me Krishan in your next backyard workout..</p>

					<p class="card-text text-center"></p>

				</div>

			</div>

			<div class="card">

				<img src="assets/images/personal-trainer-arms-crossed-gym-600w-524848849.jpg" class="card-img-top" alt="Image">

				<div class="card-body">

					<p class="card-text text-center">Are you looking for a weekly workout that will leave you feeling satisfied in 30 minutes or less?! Do you want to feel stronger and loose inches off your waist?
						If so, here is a great body weight workout to perform in the comfort of your own yard!
					Tag me Berry in your next backyard workout.</p>

					<p class="card-text text-center"></p>

				</div>

			</div>

		</div>

	</div>

</div>