<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

	<a class="navbar-brand" routerLink="/home">Kings Gym</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

		<span class="navbar-toggler-icon"></span>

	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">

		<ul class="navbar-nav ml-auto">

			<li class="nav-item">

				<a class="nav-link" routerLink="/home">Home</a>

			</li>

			<li class="nav-item">

				<a class="nav-link" routerLink="/about-us">About</a>

			</li>

			<li class="nav-item">

				<a class="nav-link" routerLink="/trainer">Trainers</a>

			</li> 

			<li class="nav-item">

				<a class="nav-link" routerLink="/blog">Blog</a>

			</li> 

			<li class="nav-item">

				<a class="nav-link" routerLink="/price">Prices</a>

			</li>  

			<li class="nav-item">

				<a class="nav-link" routerLink="/testimonial">Testimonials</a>

			</li>  

			<li class="nav-item signInLi">

				<button type="button" class="btn btn-primary signInButton" data-toggle="modal" data-target="#signin">SIGNIN</button>

			</li>   

		</ul>

	</div>  

</nav>
<router-outlet></router-outlet>
	<footer class="page-footer text-white bg-dark font-small p-4">

		<div class="container-fluid text-center text-md-left">

			<div class="row">

				<div class="col-md-6 mt-md-0 mt-3">

					<h5 class="text-uppercase">ABOUT</h5>

					<p>Fitness First feature progressive programs with world class fitness equipment, trainers and nutrition counselors to help you your fitness further. We have the widest range of group fitness classes such Yoga, Aerobics, Zumba, Les Mills favorites & much more. Come into any of your club and see how our range of group exercise classes can take your fitness further. Why not sample yoga, spinning or circuit training</p>



				</div>

				<hr class="clearfix w-100 d-md-none pb-3">

				<div class="col-md-3 mb-md-0 mb-3">

					<h5 class="text-uppercase">SESSIONS</h5>

					<ul class="list-unstyled">

						<li>

							<a class="a-color" href="#!">Mon to Fri 5am - 12pm</a>

							<a class="a-color" href="#!"> 4pm - 11 pm</a>

						</li>

						<li>

							<a class="a-color" href="#!">Sat & Sun 10am - 12pm</a>

							<a class="a-color" href="#!">no evening time</a>

						</li>

						<li>

							<a class="a-color" href="#!">Dances Clases 1pm - 3pm</a>

						</li>

					</ul>

				</div>

				<div class="col-md-3 mb-md-0 mb-3">

					<h5 class="text-uppercase">FOLLOW US</h5>

					<ul class="list-unstyled">

						<li>

							<a  href="#!" class="fa fa-facebook"></a>

						

							<a  href="#!" class="fa fa-instagram"></a>

						</li>
						<br>

						<li>

							<a  href="#!" class="fa fa-twitter"></a>

						

							<a  href="#!" class="fa fa-youtube"></a>

						</li>

					</ul>



				</div>

			</div>

		</div>

	</footer>