<div id="blogs" class="row p-5"  style="background: lightcyan;">

			<div class="col-12 text-center">

				<h2>OUR BLOG</h2>

				<p>The successful warrior is the average man, with laser-like focus</p>

				<br>



			</div>

			<div class="col-12 mt-5 justify-center">

				<div class="card-columns d-flex">

					<div class="card bg-primary mr-5">

						<div class="card-body text-center">

							<h5>Body Fitness / July 2, 2016</h5>

							<p class="card-text">
								How to get a fitness model body?
							by David Walker</p>

						</div>

					</div>

					<div class="card bg-light">

						<div class="card-body text-center">

							<h5>Healthy Fit / June 8, 2016</h5>

							<p class="card-text">Personal Fitness Tips 
							by George</p>

						</div>

					</div>

				</div>

			</div>

			<div class="col-12 mt-5 justify-center">

				<div class="card-columns d-flex">

					<div class="card bg-light mr-5">

						<div class="card-body text-center">

							<h5>Gym Services / May 9, 2016</h5>

							<p class="card-text">Efficient Workout Plans 
							by Mary Louis</p>

						</div>

					</div>

					<div class="card bg-info">

						<div class="card-body text-center">

							<h5>Practice Aerobics / April 18, 2016</h5>

							<p class="card-text">How to practice Aerobics? 
							by Michael Fit</p>

						</div>

					</div>

				</div>

			</div>

		</div>