

<div class="jumbotron text-center remove-margin banner text-white">

	<p>All progress takes place outside the comfort zone</p> 

	<h1>BEST GYM IN THE WORLD</h1>

	<button type="button" class="btn btn-primary mt-3" routerLink="/about-us">Learn More</button>

</div>

<div class="modal fade" id="signup">

		<div class="modal-dialog">

			<div class="modal-content">


				<div class="modal-header">

					<h4 class="modal-title">SIGN UP</h4>

					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>


				<div class="modal-body">

					<form action="">

						<div class="form-group">

							<label for="email">First Name:</label>

							<input type="text" class="form-control" placeholder="First Name" id="firstName">

						</div>

						<div class="form-group">

							<label for="email">Last Name:</label>

							<input type="text" class="form-control" placeholder="Last Name" id="lastName">

						</div>

						<div class="form-group">

							<label for="email">Email address:</label>

							<input type="email" class="form-control" placeholder="Email" id="email">

						</div>


						<div class="form-group">

							<label for="email">Phone Number</label>

							<input type="text" class="form-control" placeholder="Enter Phone No." id="phone">

						</div>	

						<div class="form-group">

							<label for="pwd">Password:</label>

							<input type="password" class="form-control" placeholder="Password" id="pwd">

						</div>

						<div class="form-group">

							<label for="pwd">Confirm Password:</label>

							<input type="password" class="form-control" placeholder="Confirm Password" id="pwd2">

						</div>
						<!-- <h6 class="errorField">Please fill in required fields</h6>
						<h6 class="passwordErrorField">Please match password with confirm password</h6> -->
						<button type="button" class="btn btn-primary" id="submitUser">Register</button>
						<h6>Already have account? Please <a data-toggle="modal" data-target="#signin" data-dismiss="modal" href="#"> login here </a></h6>

					</form>

				</div>

			</div>

		</div>

	</div>

	<div class="modal fade" id="signin">

		<div class="modal-dialog">

			<div class="modal-content">


				<div class="modal-header">

					<h4 class="modal-title">SIGN IN</h4>

					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>


				<div class="modal-body">

					<form>

						<div class="form-group">

							<label for="email">Email address:</label>

							<input type="email" class="form-control login_email" value="daljitsingh365@yahoo.com" placeholder="Email for login">

						</div>


						<div class="form-group">

							<label for="pwd">Password:</label>

							<input type="password" class="form-control login_pwd" placeholder="Password">

						</div>

						<!-- <h6 class="loginErrorField">Please provide fill in required fields to login.</h6> -->

						<button type="button" class="btn btn-primary" id="loginUser">Login</button>

							<h6>Don't have account? Please <a data-toggle="modal" data-target="#signup" data-dismiss="modal" href="#"> register here </a></h6>
							<h6> <a data-toggle="modal" data-target="#forgotPassword" data-dismiss="modal" href="#"> Forgot password? </a></h6>

					</form>

				</div>

			</div>

		</div>

	</div>

	<div class="modal fade" id="forgotPassword">

		<div class="modal-dialog">

			<div class="modal-content">


				<div class="modal-header">

					<h4 class="modal-title">Forgot Password</h4>

					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>


				<div class="modal-body">

					<form>

						<div class="form-group">

							<label for="email">Email address:</label>

							<input type="email" class="form-control forgot_password_email" placeholder="Email" >

						</div>

						<!-- <h6 class="forgotPasswordErrorField">Please provide an email address.</h6>
						 <h6 class="forgotPasswordMessageField">An email has been sent to your email address, please follow the link in email to reset password.</h6>-->
						<button type="button"  class="btn btn-primary" id="sendEmail">Send</button>

					</form>

				</div>

			</div>

		</div>

	</div>
